### 폴더생성

In [1]:
import os

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("data/new주소리스트.xlsx")
display(df.head())

        행정동코드    시도명 시군구명   읍면동명
0  1100000000  서울특별시  NaN    NaN
1  1111000000  서울특별시  종로구    NaN
2  1111051500  서울특별시  종로구  청운효자동
3  1111051500  서울특별시  종로구  청운효자동
4  1111051500  서울특별시  종로구  청운효자동

In [4]:
df = df.drop(df.columns[[0]], axis=1) 
display(df.head())

     시도명 시군구명   읍면동명
0  서울특별시  NaN    NaN
1  서울특별시  종로구    NaN
2  서울특별시  종로구  청운효자동
3  서울특별시  종로구  청운효자동
4  서울특별시  종로구  청운효자동

In [5]:
df = df.drop([0, 1], axis=0) 
display(df.head())

     시도명 시군구명   읍면동명
2  서울특별시  종로구  청운효자동
3  서울특별시  종로구  청운효자동
4  서울특별시  종로구  청운효자동
5  서울특별시  종로구  청운효자동
6  서울특별시  종로구  청운효자동

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21721 entries, 2 to 21722
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도명     21721 non-null  object
 1   시군구명    21552 non-null  object
 2   읍면동명    21431 non-null  object
dtypes: object(3)
memory usage: 678.8+ KB

In [7]:
df

           시도명  시군구명   읍면동명
2        서울특별시   종로구  청운효자동
3        서울특별시   종로구  청운효자동
4        서울특별시   종로구  청운효자동
5        서울특별시   종로구  청운효자동
6        서울특별시   종로구  청운효자동
...        ...   ...    ...
21718  제주특별자치도  서귀포시    중문동
21719  제주특별자치도  서귀포시    중문동
21720  제주특별자치도  서귀포시    예래동
21721  제주특별자치도  서귀포시    예래동
21722  제주특별자치도  서귀포시    예래동

[21721 rows x 3 columns]

In [8]:
df1 = df.dropna(axis=0, subset=['읍면동명'])
df1.head()

     시도명 시군구명   읍면동명
2  서울특별시  종로구  청운효자동
3  서울특별시  종로구  청운효자동
4  서울특별시  종로구  청운효자동
5  서울특별시  종로구  청운효자동
6  서울특별시  종로구  청운효자동

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21431 entries, 2 to 21722
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도명     21431 non-null  object
 1   시군구명    21281 non-null  object
 2   읍면동명    21431 non-null  object
dtypes: object(3)
memory usage: 669.7+ KB

In [9]:
#df = df.replace(np.nan, '', regex=True)

In [10]:
df1['주소'] = df1['시도명'] + " " + df1['시군구명'] + " " + df1['읍면동명']
display(df1.head())

C:\Users\juhee\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     시도명 시군구명   읍면동명               주소
2  서울특별시  종로구  청운효자동  서울특별시 종로구 청운효자동
3  서울특별시  종로구  청운효자동  서울특별시 종로구 청운효자동
4  서울특별시  종로구  청운효자동  서울특별시 종로구 청운효자동
5  서울특별시  종로구  청운효자동  서울특별시 종로구 청운효자동
6  서울특별시  종로구  청운효자동  서울특별시 종로구 청운효자동

In [11]:
df1 = df1.drop(df1.columns[[0, 1, 2]], axis=1)

In [12]:
df1.reset_index(inplace=True)

In [13]:
display(df1.head())

   index               주소
0      2  서울특별시 종로구 청운효자동
1      3  서울특별시 종로구 청운효자동
2      4  서울특별시 종로구 청운효자동
3      5  서울특별시 종로구 청운효자동
4      6  서울특별시 종로구 청운효자동

In [14]:
df1 = df1.drop(df1.columns[[0]], axis=1)

In [15]:
display(df1.head())

                주소
0  서울특별시 종로구 청운효자동
1  서울특별시 종로구 청운효자동
2  서울특별시 종로구 청운효자동
3  서울특별시 종로구 청운효자동
4  서울특별시 종로구 청운효자동

In [16]:
df1.drop_duplicates(['주소'], keep='first', inplace=True)
display(df1.head())

                 주소
0   서울특별시 종로구 청운효자동
10    서울특별시 종로구 사직동
22    서울특별시 종로구 삼청동
29    서울특별시 종로구 부암동
32    서울특별시 종로구 평창동

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3543 entries, 0 to 21428
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주소      3542 non-null   object
dtypes: object(1)
memory usage: 55.4+ KB

In [18]:
df1.reset_index(inplace=True)

In [19]:
df1 = df1.drop(df1.columns[[0]], axis=1)

In [20]:
display(df1.head())

                주소
0  서울특별시 종로구 청운효자동
1    서울특별시 종로구 사직동
2    서울특별시 종로구 삼청동
3    서울특별시 종로구 부암동
4    서울특별시 종로구 평창동

In [22]:
df1.to_excel('data/fff.xlsx', encoding='utf-8', index=False)

In [21]:
f_name = list(np.array(df1['주소'].tolist()))

In [185]:
# df1.loc[0,'주소']

'서울특별시 종로구 청운효자동'

In [198]:
for path in f_name:
    os.mkdir('./data/climate_data/'+ path)