### 법정동을 행정동으로 변환하는 주소 전처리 작업

In [46]:
import pandas as pd
import numpy as np

In [47]:
data = pd.read_excel("data/주소리스트.xlsx")
display(data.head(10))

        행정동코드    시도명 시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN    NaN  1100000000  서울특별시  19880423   NaN
1  1111000000  서울특별시  종로구    NaN  1111000000    종로구  19880423   NaN
2  1111051500  서울특별시  종로구  청운효자동  1111010100    청운동  20081101   NaN
3  1111051500  서울특별시  종로구  청운효자동  1111010200    신교동  20081101   NaN
4  1111051500  서울특별시  종로구  청운효자동  1111010300    궁정동  20081101   NaN
5  1111051500  서울특별시  종로구  청운효자동  1111010400    효자동  20081101   NaN
6  1111051500  서울특별시  종로구  청운효자동  1111010500    창성동  20081101   NaN
7  1111051500  서울특별시  종로구  청운효자동  1111010800    통인동  20081101   NaN
8  1111051500  서울특별시  종로구  청운효자동  1111010900    누상동  20081101   NaN
9  1111051500  서울특별시  종로구  청운효자동  1111011000    누하동  20081101   NaN

In [48]:
data = data.drop(data.columns[[0, 4, 6, 7]], axis=1) # 행정동코드, 법정동코드, 생성일자, 말소일자 제거
data.drop([0, 1], inplace=True) # 필요없는 행 제거

In [49]:
display(data.head())

     시도명 시군구명   읍면동명  동리명
2  서울특별시  종로구  청운효자동  청운동
3  서울특별시  종로구  청운효자동  신교동
4  서울특별시  종로구  청운효자동  궁정동
5  서울특별시  종로구  청운효자동  효자동
6  서울특별시  종로구  청운효자동  창성동

In [50]:
data.set_index('시도명', inplace=True)
data.reset_index(inplace=True) # 행 번호 초기화(0부터 시작)

In [51]:
display(data.head()) # 인덱스번호가 리셋되었음

     시도명 시군구명   읍면동명  동리명
0  서울특별시  종로구  청운효자동  청운동
1  서울특별시  종로구  청운효자동  신교동
2  서울특별시  종로구  청운효자동  궁정동
3  서울특별시  종로구  청운효자동  효자동
4  서울특별시  종로구  청운효자동  창성동

In [52]:
data['행정동주소'] = data['시도명'] + " " + data['시군구명'] + " " + data['읍면동명']
data['법정동주소'] = data['시도명'] + " " + data['시군구명'] + " " + data['동리명']
display(data.head())

     시도명 시군구명   읍면동명  동리명            행정동주소          법정동주소
0  서울특별시  종로구  청운효자동  청운동  서울특별시 종로구 청운효자동  서울특별시 종로구 청운동
1  서울특별시  종로구  청운효자동  신교동  서울특별시 종로구 청운효자동  서울특별시 종로구 신교동
2  서울특별시  종로구  청운효자동  궁정동  서울특별시 종로구 청운효자동  서울특별시 종로구 궁정동
3  서울특별시  종로구  청운효자동  효자동  서울특별시 종로구 청운효자동  서울특별시 종로구 효자동
4  서울특별시  종로구  청운효자동  창성동  서울특별시 종로구 청운효자동  서울특별시 종로구 창성동

In [53]:
data1 = data.drop(data.columns[[0, 1, 2, 3]], axis=1) # 행정동주소와 법정동주소 남기고 다 제거

In [54]:
display(data1.head())

             행정동주소          법정동주소
0  서울특별시 종로구 청운효자동  서울특별시 종로구 청운동
1  서울특별시 종로구 청운효자동  서울특별시 종로구 신교동
2  서울특별시 종로구 청운효자동  서울특별시 종로구 궁정동
3  서울특별시 종로구 청운효자동  서울특별시 종로구 효자동
4  서울특별시 종로구 청운효자동  서울특별시 종로구 창성동

In [55]:
#data1.to_csv('data/합치기전주소체계.csv', encoding='utf-8')

In [70]:
data = pd.read_csv("data/합치기전주소체계.csv", encoding='utf-8')
data = data.drop(data.columns[[0]], axis=1)
display(data.head(10))

             행정동주소          법정동주소
0  서울특별시 종로구 청운효자동  서울특별시 종로구 청운동
1  서울특별시 종로구 청운효자동  서울특별시 종로구 신교동
2  서울특별시 종로구 청운효자동  서울특별시 종로구 궁정동
3  서울특별시 종로구 청운효자동  서울특별시 종로구 효자동
4  서울특별시 종로구 청운효자동  서울특별시 종로구 창성동
5  서울특별시 종로구 청운효자동  서울특별시 종로구 통인동
6  서울특별시 종로구 청운효자동  서울특별시 종로구 누상동
7  서울특별시 종로구 청운효자동  서울특별시 종로구 누하동
8  서울특별시 종로구 청운효자동  서울특별시 종로구 옥인동
9  서울특별시 종로구 청운효자동  서울특별시 종로구 세종로

In [71]:
len(data1) # 총 21,721행의 데이터

21721

In [72]:
dong = pd.read_csv("data/동별_재산피해소계.csv", encoding='utf-8')
display(dong.head(10))

             주소    재산피해소계
0   강원도 강릉시 강동면     71110
1   강원도 강릉시 구정면      3109
2   강원도 강릉시 난곡동       442
3   강원도 강릉시 대전동  34471631
4   강원도 강릉시 사천면      9254
5   강원도 강릉시 연곡면     54468
6   강원도 강릉시 옥계면     45863
7  강원도 강릉시 월호평동     61543
8  강원도 강릉시 주문진읍       821
9   강원도 강릉시 죽헌동        41

In [73]:
len(dong)

1884

#### 주소를 id로 잡고 merge 하기 전에 잘못된 데이터 수정하기

In [74]:
dong.replace("영등포동", "영동포동") # 영등포동 --> 영동포동으로

                 주소    재산피해소계
0       강원도 강릉시 강동면     71110
1       강원도 강릉시 구정면      3109
2       강원도 강릉시 난곡동       442
3       강원도 강릉시 대전동  34471631
4       강원도 강릉시 사천면      9254
...             ...       ...
1879   충청북도 충주시 연수동      1145
1880   충청북도 충주시 용두동      4455
1881   충청북도 충주시 주덕읍    356514
1882  충청북도 충주시 중앙탑면     30343
1883    충청북도 충주시 직동    543886

[1884 rows x 2 columns]

In [75]:
dong.columns=['법정동주소', '재산피해소계']

In [76]:
hb = pd.merge(dong, data, on='법정동주소', how='left')
display(hb.head())

         법정동주소    재산피해소계        행정동주소
0  강원도 강릉시 강동면     71110  강원도 강릉시 강동면
1  강원도 강릉시 구정면      3109  강원도 강릉시 구정면
2  강원도 강릉시 난곡동       442  강원도 강릉시 경포동
3  강원도 강릉시 대전동  34471631  강원도 강릉시 경포동
4  강원도 강릉시 사천면      9254  강원도 강릉시 사천면

In [77]:
len(hb)

2363

In [78]:
hb[hb['행정동주소'].isnull()]

                   법정동주소   재산피해소계 행정동주소
285       경기도 수원시권선구 고색동     2420   NaN
286      경기도 수원시권선구 곡반정동    10700   NaN
287       경기도 수원시권선구 구운동      173   NaN
288       경기도 수원시권선구 당수동      133   NaN
289      경기도 수원시권선구 오목천동   164463   NaN
290        경기도 수원시권선구 탑동     8759   NaN
291        경기도 수원시영통구 신동    75723   NaN
292       경기도 수원시영통구 원천동  2543721   NaN
293       경기도 수원시장안구 이목동    36268   NaN
294        경기도 수원시팔달구 지동   104125   NaN
806         경상북도 경산시 압량면   230058   NaN
896         경상북도 상주시 사벌면      156   NaN
1559      세종특별자치시 세종 가람동    96152   NaN
1560      세종특별자치시 세종 고운동     4753   NaN
1561      세종특별자치시 세종 금남면   103761   NaN
1562      세종특별자치시 세종 부강면     2645   NaN
1563      세종특별자치시 세종 소정면   248130   NaN
1564      세종특별자치시 세종 연기면      555   NaN
1565      세종특별자치시 세종 연동면    54583   NaN
1566      세종특별자치시 세종 연서면     6180   NaN
1567      세종특별자치시 세종 장군면    60641   NaN
1568      세종특별자치시 세종 전동면   132246   NaN
1569      세종특별자치시 세종 전의면   383843   NaN
1587       울산광역시 울주군 삼남면   196477   NaN
2042     전라북도 전주시덕진구 동산동     6968   NaN
2057     전라북도 전주시완산구 상림동     1818   NaN
2058     전라북도 전주시완산구 색장동     6139   NaN
2059     전라북도 전주시완산구 서신동      273   NaN
2060    전라북도 전주시완산구 중노송동       66   NaN
2061  전라북도 전주시완산구 중화산동2가     8467   NaN
2062   전라북도 전주시완산구 평화동1가      100   NaN
2063   전라북도 전주시완산구 평화동3가     3403   NaN
2314        충청북도 진천군 덕산면    67185   NaN

In [79]:
hb.to_csv('data/hb.csv', encoding='utf-8')

#### null값 직접 전처리 후 import

In [81]:
dong = pd.read_csv("data/new_hb.csv", encoding='utf-8')
dong = dong.drop(dong.columns[[0]], axis=1)
display(dong.head(10))

          법정동주소    재산피해소계         행정동주소
0   강원도 강릉시 강동면     71110   강원도 강릉시 강동면
1   강원도 강릉시 구정면      3109   강원도 강릉시 구정면
2   강원도 강릉시 난곡동       442   강원도 강릉시 경포동
3   강원도 강릉시 대전동  34471631   강원도 강릉시 경포동
4   강원도 강릉시 사천면      9254   강원도 강릉시 사천면
5   강원도 강릉시 연곡면     54468   강원도 강릉시 연곡면
6   강원도 강릉시 옥계면     45863   강원도 강릉시 옥계면
7  강원도 강릉시 월호평동     61543   강원도 강릉시 강남동
8  강원도 강릉시 주문진읍       821  강원도 강릉시 주문진읍
9   강원도 강릉시 죽헌동        41   강원도 강릉시 경포동

In [83]:
dong = dong.drop(dong.columns[[0]], axis=1) #이제 필요없는 법정동 제거

In [86]:
dong[dong['재산피해소계'].isnull()] # null값 있는지 확인 --> 없음. 데이터 매치 끝.

Empty DataFrame
Columns: [재산피해소계, 행정동주소]
Index: []

In [87]:
len(dong)

2363

In [89]:
display(dong.head())

     재산피해소계        행정동주소
0     71110  강원도 강릉시 강동면
1      3109  강원도 강릉시 구정면
2       442  강원도 강릉시 경포동
3  34471631  강원도 강릉시 경포동
4      9254  강원도 강릉시 사천면

In [91]:
dong.duplicated(['행정동주소']) # 행정동으로 주소를 변환하니 중복값이 생겼다.

0       False
1       False
2       False
3        True
4       False
        ...
2358    False
2359    False
2360    False
2361    False
2362    False
Length: 2363, dtype: bool

In [92]:
all_dong = dong.groupby(['행정동주소']).sum('재산피해소계')
print(all_dong.head())

               재산피해소계
행정동주소
강원도 강릉시 강남동     61543
강원도 강릉시 강동면     71110
강원도 강릉시 경포동  34472114
강원도 강릉시 구정면      3109
강원도 강릉시 사천면      9254

In [101]:
len(all_dong)

2045

In [105]:
all_dong.drop_duplicates(['재산피해소계'], keep='first', inplace=True)

In [106]:
len(all_dong)

1589

In [107]:
all_dong.to_csv('data/all_dong.csv', encoding='utf-8')