### 법정동을 행정동으로 변환하는 주소 전처리 작업

In [19]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_excel("data/주소리스트.xlsx")
display(data.head(10))

        행정동코드    시도명 시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN    NaN  1100000000  서울특별시  19880423   NaN
1  1111000000  서울특별시  종로구    NaN  1111000000    종로구  19880423   NaN
2  1111051500  서울특별시  종로구  청운효자동  1111010100    청운동  20081101   NaN
3  1111051500  서울특별시  종로구  청운효자동  1111010200    신교동  20081101   NaN
4  1111051500  서울특별시  종로구  청운효자동  1111010300    궁정동  20081101   NaN
5  1111051500  서울특별시  종로구  청운효자동  1111010400    효자동  20081101   NaN
6  1111051500  서울특별시  종로구  청운효자동  1111010500    창성동  20081101   NaN
7  1111051500  서울특별시  종로구  청운효자동  1111010800    통인동  20081101   NaN
8  1111051500  서울특별시  종로구  청운효자동  1111010900    누상동  20081101   NaN
9  1111051500  서울특별시  종로구  청운효자동  1111011000    누하동  20081101   NaN

In [31]:
data = data.drop(data.columns[[0, 4, 6, 7]], axis=1) # 행정동코드, 법정동코드, 생성일자, 말소일자 제거
data.drop([0, 1], inplace=True) # 필요없는 행 제거

In [32]:
display(data.head())

     시도명 시군구명   읍면동명  동리명
2  서울특별시  종로구  청운효자동  청운동
3  서울특별시  종로구  청운효자동  신교동
4  서울특별시  종로구  청운효자동  궁정동
5  서울특별시  종로구  청운효자동  효자동
6  서울특별시  종로구  청운효자동  창성동

In [33]:
data.set_index('시도명', inplace=True)
data.reset_index(inplace=True) # 행 번호 초기화(0부터 시작)

In [34]:
display(data.head()) # 인덱스번호가 리셋되었음

     시도명 시군구명   읍면동명  동리명
0  서울특별시  종로구  청운효자동  청운동
1  서울특별시  종로구  청운효자동  신교동
2  서울특별시  종로구  청운효자동  궁정동
3  서울특별시  종로구  청운효자동  효자동
4  서울특별시  종로구  청운효자동  창성동

In [35]:
data['행정동주소'] = data['시도명'] + " " + data['시군구명'] + " " + data['읍면동명']
data['법정동주소'] = data['시도명'] + " " + data['시군구명'] + " " + data['동리명']
display(data.head())

     시도명 시군구명   읍면동명  동리명            행정동주소          법정동주소
0  서울특별시  종로구  청운효자동  청운동  서울특별시 종로구 청운효자동  서울특별시 종로구 청운동
1  서울특별시  종로구  청운효자동  신교동  서울특별시 종로구 청운효자동  서울특별시 종로구 신교동
2  서울특별시  종로구  청운효자동  궁정동  서울특별시 종로구 청운효자동  서울특별시 종로구 궁정동
3  서울특별시  종로구  청운효자동  효자동  서울특별시 종로구 청운효자동  서울특별시 종로구 효자동
4  서울특별시  종로구  청운효자동  창성동  서울특별시 종로구 청운효자동  서울특별시 종로구 창성동

In [36]:
data1 = data.drop(data.columns[[0, 1, 2, 3]], axis=1) # 행정동주소와 법정동주소 남기고 다 제거

In [38]:
display(data1.head())

             행정동주소          법정동주소
0  서울특별시 종로구 청운효자동  서울특별시 종로구 청운동
1  서울특별시 종로구 청운효자동  서울특별시 종로구 신교동
2  서울특별시 종로구 청운효자동  서울특별시 종로구 궁정동
3  서울특별시 종로구 청운효자동  서울특별시 종로구 효자동
4  서울특별시 종로구 청운효자동  서울특별시 종로구 창성동

In [39]:
len(data1) # 총 21,721행의 데이터

21721

In [40]:
dong = pd.read_csv("data/동별_재산피해소계.csv", encoding='utf-8')
display(dong.head(10))

             주소    재산피해소계
0   강원도 강릉시 강동면     71110
1   강원도 강릉시 구정면      3109
2   강원도 강릉시 난곡동       442
3   강원도 강릉시 대전동  34471631
4   강원도 강릉시 사천면      9254
5   강원도 강릉시 연곡면     54468
6   강원도 강릉시 옥계면     45863
7  강원도 강릉시 월호평동     61543
8  강원도 강릉시 주문진읍       821
9   강원도 강릉시 죽헌동        41

#### 주소를 id로 잡고 merge 하기 전에 잘못된 데이터 수정하기

In [41]:
dong.replace("영등포동", "영동포동") # 영등포동 --> 영동포동으로

                 주소    재산피해소계
0       강원도 강릉시 강동면     71110
1       강원도 강릉시 구정면      3109
2       강원도 강릉시 난곡동       442
3       강원도 강릉시 대전동  34471631
4       강원도 강릉시 사천면      9254
...             ...       ...
1879   충청북도 충주시 연수동      1145
1880   충청북도 충주시 용두동      4455
1881   충청북도 충주시 주덕읍    356514
1882  충청북도 충주시 중앙탑면     30343
1883    충청북도 충주시 직동    543886

[1884 rows x 2 columns]

In [42]:
dong.columns=['법정동주소', '재산피해소계']

In [43]:
hb = pd.merge(dong, data1, on='법정동주소', how='left')
display(hb.head())

         법정동주소    재산피해소계        행정동주소
0  강원도 강릉시 강동면     71110  강원도 강릉시 강동면
1  강원도 강릉시 구정면      3109  강원도 강릉시 구정면
2  강원도 강릉시 난곡동       442  강원도 강릉시 경포동
3  강원도 강릉시 대전동  34471631  강원도 강릉시 경포동
4  강원도 강릉시 사천면      9254  강원도 강릉시 사천면

In [44]:
len(hb)

2306

In [47]:
hb[hb['행정동주소'].isnull()]

                법정동주소  재산피해소계 행정동주소
122    경기도 고양시덕양구 강매동    4689   NaN
123    경기도 고양시덕양구 관산동    5540   NaN
124    경기도 고양시덕양구 내곡동    1713   NaN
125    경기도 고양시덕양구 내유동     376   NaN
126    경기도 고양시덕양구 대자동  118906   NaN
...               ...     ...   ...
2285  충청북도 청주시흥덕구 신봉동  122245   NaN
2286  충청북도 청주시흥덕구 옥산면  225412   NaN
2287  충청북도 청주시흥덕구 지동동   82725   NaN
2288  충청북도 청주시흥덕구 향정동    9430   NaN
2289  충청북도 청주시흥덕구 휴암동     413   NaN

[188 rows x 3 columns]